*{
    font-family: "Nunito Sans", sans-serif;
    margin: -1px;
}
.main{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.3%;
    color: rgba(0, 0, 0, 0.884);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px solid lightgray;
}

.title{
    display: flex;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
}
.se{
    padding-left: 180px;
    display: flex;
    gap: 1.875rem;
}
.exp{
    color: #00000050;
}

.acc1{
    display:flex;
    gap: 30px;
    align-items: center;
}
.acc{

    padding: 10px 12px;
    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 35px;
    border-color: lightgray;
}
.tab{
    width: max-content;
    margin-top: 30px;
    margin: 30px 240px 20px 240px;
    padding: 10px;
    font-size:smaller;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    border: 1px solid lightgray;
    border-radius: 40px;
    font-weight: 750;
    font-style: normal;
    
}
.where{
    border-right: 1px solid lightgray;
    padding-right: 140px;
    padding-left: 15px; 
    
}
.s{
    color: #00000050;
}
.checkin{
    border-right: 1px solid lightgray;
    padding-right: 45px;

}
.d1{
    color: #00000050;
}
.checkout{
    border-right: 1px solid lightgray;
    padding-right: 45px;
}
.d2{
    color: #00000050;
}
.guest{
    padding-right: 100px;
}
.g{
    color: #00000050;
}
.search{
    background-color:#FF385C;
    border-radius: 300px;
    padding: 15px 16.5px;
    margin-left: auto;
}

.content{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.3%;
    color: rgba(19, 19, 19, 0.851);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: space-evenly;
    max-height: 70px;
    text-align: center;
    font-size: 11px;
    font-weight: 750;
}
.m1{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.m{
    color: #00000050;
}
.a{
    width: 32px;
    height: 25px;
    padding-top: 8px;
    border: 1px solid lightgray;
    border-radius: 28px;
}
.tax{
    border: 1px solid lightgray;
    padding: 18px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: .625rem;
}
.filter{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: .625rem;
    padding: 12px 12px;
    border-radius: 12px;
}
.box{
    width: 300px;
    padding: 8px;
    border-radius:10px;
    position: relative;
}
.best{
    position: absolute;
    top: 5;
    background-color: rgb(255, 255, 255);
    color: rgb(66, 41, 0);
    margin: 10px;
    font-size: 14px;
    border-radius: 40px;
    padding: 2px 10px;
}
.like{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 10px;
    padding: 2px 10px;
}
.boxi{
    width: 300px;
    height: 300px;
}
.box-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.rate{
    padding-top: 8px;
    display: flex;
    gap: 100px;
}
.light
{
    color: #00000050;
}
.page{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.foot-main{
    background-color: #e9e9e9;
    margin:-1px;
    margin-top: 20px;
    padding-left:3%;
    padding-right: 3%;
    padding-top: 40px;
}
.foot{
    display: flex;
    justify-content: flex-start;
}
.support, .hosting, .airbnb{
    margin-right: 200px;
}
ul{
    list-style-type: none;
    line-height: 35px;
}
.foot-hd{
    font-weight: 500;
    color: #232323;
}
.foot-txt{
    font-weight: 400;
    color: #494848;
    
}
.copy{
    margin: 12px 3%;
    word-spacing: 20px;
}
.footright{
    display: inline;
    margin-left: 275px;
}